body {
  background-color: #DADADA;

  .grid {
      height: 100%;
    }

}

.image {
  margin-top: -100px;
 
}
.column {
    left: 50%;
    position: absolute;
    width: 400px;
    margin-left: -200px;
    margin-top: 10%;
}
.content{text-align:center;}

.put{width:100% !important;}